---
import {HttpsLinks, SvgIcons} from "../ts/enums";
import TopBarButton from "./button.astro";
---

<header>
	<nav class="topbar-item left">
		<a href={HttpsLinks.HomeLink}>
			<img src="/logo128.png" alt="Home" width="50">
		</a>
		<h1>rhpidfyre.io</h1>
	</nav>
	<nav class="topbar-item right">
		<TopBarButton Text="Repositories" Href={HttpsLinks.CodeRepositoriesLink} SvgIcon={SvgIcons.Repositories}/>
		<TopBarButton Text="Servers" Href={HttpsLinks.ServersLink} SvgIcon={SvgIcons.DNS}/>
		<TopBarButton Text="Cloud" Href={HttpsLinks.CloudLink} SvgIcon={SvgIcons.Cloud}/>
		<TopBarButton Text="Home" Href={HttpsLinks.HomeLink} SvgIcon={SvgIcons.Home}/>
	</nav>
</header>

<style lang="scss">
	@use "../../scss/variables";
	$margin-left-right: 15px;

	.topbar-item {
		display: flex;
		place-content: center;
	}
	h1 {
		font-size: 1.2em;
	}
	a {
		font-size: 1.5em;
	}
	header {
		display: flex;
		justify-content: space-between;
		background-color: transparent;
		width: 100vw;
		height: variables.$topbar-height;
		> .right {
			margin-right: $margin-left-right;
			gap: 13px;
		};
		> .left {
			margin-left: $margin-left-right;
			gap: 15px;
		}
	}
</style>